<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Arknights Client</string>
    <key>CFBundleExecutable</key>
    <string>ArknightsClient</string>
    <key>CFBundleIdentifier</key>
    <string>com.lumisxh.arknights-client</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Arknights Client</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.games</string>
    <key>LSArchitecturePriority</key>
    <array>
        <string>arm64</string>
    </array>
    <key>LauncherUpdatesURL</key>
    <string>https://api.github.com/repos/LuMiSxh/Arknights-MacOS-Client/releases/latest</string>
	<key>LauncherAnnouncementsURL</key>
	<string>https://api.github.com/repos/LuMiSxh/Arknights-MacOS-Client/contents/announcements.json?ref=main</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 LuMiSxh. Arknights belongs to Hypergryph and Yostar.</string>
    <key>NSHighResolutionCapable</key>
    <true />
	<key>NSLocalNetworkUsageDescription</key>
	<string>Arknights uses local networking while the Windows game is running.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
